<!DOCTYPE html>
<html>
	<head>
		<title>
			Employee Management details
		</title>
	</head>
	 <h1 align="center">Update Employee Details</h1>
	     </br></br>
	<form  action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="post" align="center">
		<input type="hidden" th:field="*{id}" />
		<label for="fname">Frist Name: </label>
		<input type="text" th:field="*{fristName}" name="fname" required="true" >
	<!--	<span th:if="${#fields.hasErrors(fristName)" th:error="*{fristName}"></span> -->
		</br>
		</br>
		<label for="lname">Last Name: </label>
		<input type="text" th:field="*{lastName}" name="lname" required="true">
		<!--	<span th:if="${#fields.hasErrors(fristName)" th:error="*{fristName}"></span> -->
		</br>
			</br>
			<label for="email">Email: </label>
		<input type="email" th:field="*{email}" name="email" required="true">
		<!--	<span th:if="${#fields.hasErrors(fristName)" th:error="*{fristName}"></span> -->
		</br>
			</br>
			<label for="loc">Location: </label>
		<input type="text" th:field="*{location}" name="loc" required="true">
		<!--	<span th:if="${#fields.hasErrors(fristName)" th:error="*{fristName}"></span> -->
		</br>
		</br>
		<button type="submit">Update</button>
	</form>
</html>